<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lael.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.lael.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select count(b.ccgSeq) from code b where 1=1 and a.ccgSeq = b.ccgSeq) as count
		FROM 
			codeGroup a
	 	WHERE 1=1
			<!-- AND codegroup_ex = 0 -->
			<!-- AND name LIKE CONCAT('%',#{shValue},'%') -->

			<if test="delNy != null and !delNy.equals('')">AND delNy = #{delNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND name_eng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			ORDER BY ccgSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup (
			name
		)
		VALUES (
			#{name}
		)
		
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM codeGroup a
	 	WHERE 1=1
	 		AND ccgSeq = #{ccgSeq}
	</select>
<!-- 	<update id=""></update>
	<delete id=""></delete> -->
	
</mapper>	
		
