

.b {
    width: auto;
    height: 80px;
    box-shadow: -3px 3px 6px rgb(142, 150, 150);
    margin: 10px 0px;
    border-radius:30px;
   /*  border-width: 1px; */
    border-color: rgb(193, 232, 100);
    background-color: transparent;
    cursor: pointer;
}

.a {
 	width: auto;
    height: 80px;
    box-shadow: -3px 3px 6px rgb(142, 150, 150);
   	margin: 5px 10px 5px 10px;
    background-color: rgba(233, 231, 58, 0.66);
}

.c {
    float: right;
    display: inline-block;
    justify-content: end;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.star {
	border: 1px solid transparent;
}

.container1 {
  margin: 0 auto;
  max-width: 1800px;
  max-height: 900px;
  display: grid;
}

.goNow {
	text-decoration: none;
	color: black;
}

.btnLike{
	border: 0px;
	border-color: transparent;
	background-color: transparent;
}

.btn-like {
  color: transparent;
  text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000;
  border-radius: 30px;
  border-color: transparent;
  padding-bottom: 8px;
  background-color: transparent;
}
.btn-like:hover {
  text-shadow: 0 0 0 #ea0;
}
.btn-like.done {
  color: inherit;
  text-shadow: 0;
}
.btn-like.done:hover {
  color: transparent;
  text-shadow: 0 0 0 #777;
}

#btnLike {
	border: none;
	background-color: transparent;
}

.like {
	width: 30px;
	height: 30px;
}

.btn_like.after {
	background-image: "/resources/images/share/star_y.png";
}

#goNow {
	border-style: solid;
	border-color: rgb(142, 68, 173);
	color: rgb(142, 68, 173);
}

