.a {
	float: inline-start;
	display: inline-block;
	background-color: rgb(224, 224, 224);
	height: 70px;;
	border-radius:5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(193, 232, 100);
	box-shadow: 3px 5px 6px rgb(142, 150, 150);
	/* justify-content: center; */
}

.b{
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	height: 265px;
	width: 300px;
	margin-left: 30px;
}

.c{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.d{
	height: 50px;
	border-radius:8px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.topBtn {
	float: right;
	margin-right: 50px;
	justify-content: end;
	display:  block;
}

#date {
	text-align: center;
	margin-top: 3px;
}

#image {
width: 290px;
height: 260px;

}

#chooseImg {
    visibility: hidden;
}

#imgText {
    margin-left: 60px;
    margin-top: 165px;
}

.container1 {
  margin: 0 auto;
  max-width: 1200px;
  max-height: 900px;
  display: grid;
}

.form-control {
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

img {
    display: inline-block;
    border: none;
}

#btnGoShare{
	border-style: solid;
	border-color: rgb(142, 68, 173);
	color: rgb(142, 68, 173);
}

.col-6 {
	flex: 0 0 auto;
	width: 45%;
}
