
#btn {
	 margin:auto;
}

#btnLogout {
     --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-border-width: 0px;
    
}

#Imglogout {
	width: 30px;
	height: 30px;
}


#btnS, #btnC {
	 margin:auto;
     display: inline-block;
}

.content {
	width: 1300px;
    height: 250px;
    margin-top: 10px;
    margin-left: 150px;
}

.sideBar {
    width: 300px;
}

.first {
    padding: 20px 30px;
    margin-top: 20px;
    margin-right: 0px;
}

.second{
    padding: 20px 30px;
    margin-top: 20px;
    margin-right: 0px;
}


.third{
    padding: 20px 30px;
    margin-top: 20px;
    margin-right: 0px;
}

#logoimg {
    width: 230px;
    height: 80px;
    margin: 30px 20px;
}

.nav-link {
  margin-left: 10px;
}

ul {
    border-style: solid;
    border: 1px;
}

dl, ol, ul {
    margin: 5px 150px;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div.sideEmty {
	 margin: 0px 100px 0px 100px;
	padding: 0px 50px 0px 50px;
}

button.btn {
	width: 80px;
}

#btnS {
	margin-left: 500px;
}

#share_place{
	width: auto;
	height: 50px;
	border-color: transparent;
	background-color: transparent;
}

#nick_nm{
	width: auto;
	height: 50px;
	border-color: transparent;
	background-color: transparent;
}

#img1 {
	width: 138px;
	height: 133px;
	border-style:solid;
	border-color: lightgrey;
	border-radius: 95px;
	margin-left: 60px;
	margin-top: 20px;
}

hr {
	width: 300px;
}

.nav-link {
	cursor: pointer;
}
