<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lael.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.lael.infra.modules.member.Member"></resultMap>
	
	<sql id ="selectCommon">
		FROM share_member a
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND DelNy = #{shDelNy}</if>
		<choose>
			<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		<choose>
			<when test="shOption == 1">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND a.nick_nm LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.email LIKE CONCAT('%',#{shValue},'%')</when>
			<!-- <when test="shOption == 4">AND shareCount LIKE CONCAT('%',#{shValue},'%')</when> -->
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			a.seq
			,a.id
			,a.pw
			,a.name
			,a.dob
			,a.gender
			,a.email
			,a.phone
			,a.nick_nm
			,a.share_place
			,a.grade
			,a.review
			,a.location
			,a.DelNy
			,a.createDate
			,a.shareCount
			,a.user_div
			,a.sns_type
			,a.snsImg 
			,a.img
		<include refid="selectCommon" />
		ORDER BY a.seq DESC
		<include refid="Base.orderByLimitForMysql" />
		<!-- 페이지 제한하는 요소--> 
		<include refid="Base.selectListLowerForMysql" /> 
	</select>
	
	<select id="selectList1" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			a.*
		<include refid="selectCommon" />
		ORDER BY a.seq DESC
		<include refid="Base.orderByLimitForMysql" />
		)a
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO share_member (
			id
			,pw
			,name
			,nick_nm
			,share_place
			,dob
			,gender
			,email
			,phone
			,DelNy
			,createDate
		)
		VALUES (
			#{id}
			,#{pw}
			,#{name}
			,#{nick_nm}
			,#{share_place}
			,#{dob}
			,#{dob2}
			,#{dob3}
			,#{gender}
			,#{email}
			,#{phone}
			,0
			,now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="myInsert">
		INSERT INTO share_member (
			nick_nm
			,share_place
			,modDate
		)
		VALUES (
			#{nick_nm}
			,#{share_place}
			,#{modDate}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM share_member a
	 	WHERE 1=1
	 		AND a.seq = #{seq}
	</select>
	
	<!-- ID ajax s -->
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*) 
		from share_member 
		where id = #{id}
	</select>

	<!-- id찾기 -->
	<select id="idFind" resultMap="resultMapObj">
		SELECT
			a.id
		FROM share_member a
	 	WHERE 1=1
	 		AND a.name = #{name}
	 		and a.dob = #{dob}
			and a.phone = #{phone}
	</select>
	
	<!-- pw찾기 -->
	<select id="pwFind" resultMap="resultMapObj">
		SELECT
			a.pw
		FROM share_member a
	 	WHERE 1=1
	 		AND a.name = #{name}
	 		and a.id = #{id}
			and a.phone = #{phone}
	</select>
	
 	<update id="update">
	 	UPDATE share_member
	 	SET
 			name = #{name}
 			,id = #{id}
 			
		WHERE
			seq = #{seq}
 	</update>
 	
 	<update id="myUpdate">
	 	UPDATE share_member
	 	SET
 			nick_nm = #{nick_nm}
 			,share_place = #{share_place}
 			
		WHERE
			seq = #{seq}
 	</update>
 	
 	<update id="uelete">
	 	UPDATE share_member
	 	SET
	 		DelNy = 1
		WHERE 1=1
			and seq = #{seq}
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM 
 			share_member 
		WHERE 1=1
			and seq = #{seq}
 	</delete>
 	
 	
 	<select id="selectOneId" resultMap="resultMapObj">
 		SELECT 
 			a.seq
 			,a.id
		FROM
			share_member a
		WHERE 1=1
			AND a.id = #{id} 
 	</select>
 	
 	<!-- 로그인 후 사용자 정보 보관용 -->
 	<select id="selectOneLogin" resultMap="resultMapObj">
 		SELECT 
 			a.seq
 			,a.id
 			,a.name
 			,a.email
		FROM
			share_member a
		WHERE 1=1
			AND id = #{id} 
			AND pw = #{pw}
 	</select>
 	
 	<select id="selectList2" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			a.seq
			,a.id
			,a.pw
			,a.name
			,a.dob
			,a.gender
			,a.email
			,a.phone
			,a.nick_nm
			,a.share_place
			,a.grade
			,a.review
			,a.location
			,a.DelNy
			,a.createDate
			,a.shareCount
		FROM share_member a
		WHERE 1=1
			and DATE(createDate) = DATE(now()) 
		ORDER BY a.seq DESC
		<!-- 전체 검색 갯수 제한 --> 
		<include refid="Base.orderByLimitForMysql" />
		) a
		limit 6 offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount2" resultType="Integer">
		SELECT COUNT(*)
		FROM share_member a
		WHERE 1=1
			and DATE(createDate) = DATE(now()) 
	</select>
 	
 	<!-- KakaoLogin -->
	<insert id="kakaoInst">
		INSERT INTO share_member (
			id
			,name
			,email
			,DelNy
		)
		VALUES (
			#{snsId}
			,#{name}
			,#{email}
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	
	</insert>
 	<!-- naverLogin -->
	<insert id="naverInst">
		INSERT INTO share_member (
			id
			,name
			,email
			,gender
			,phone
			,DelNy
		)
		VALUES (
			#{snsId}
			,#{name}
			,#{email}
			,#{gender}
			,#{phone}
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="snsLoginCheck" resultMap="resultMapObj">
		select 
			 a.seq
			,a.id
			,a.name
			,a.email
			,a.phone
		from share_member a
		where 1=1
			and name = #{name}
			and phone = #{phone}
			and email = #{email}
	</select>
	
	<update id="user_divUpdate">
	 	UPDATE share_member
	 	SET
 			user_div = #{user_div}
 			
		WHERE
			seq = #{seq}
 	</update>
 	
 	
</mapper>	
		
